@charset "UTF-8";

:root{
    --cor1: #2A8C82;
    --cor2: #41BFB3;
    --cor3: #9BF2EA;
    --cor4: #275950;
    --cor5: #260101;
    
    --cornoturna1: #492A8C;
    --cornoturna2: #6439BF;
    --cornoturna3: #7B44F2;
    --cornoturna4: #211340;
    --cornoturna5: #0D0D0D;
     

}

/*{
    margin:  0px;
    padding: 0px;
}*/

body {
    background-image: linear-gradient(to top, #9BF2EA,#41BFB3, #2A8C82);
    background-attachment: fixed;
    font-size: 16px;
    width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: var(--cor5);    
    font-family: 'Times New Roman', Times, serif;
    margin: 50px 0px 0px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor5);
}

h3 { 
    color: var(--cor5);
}

nav { 
    background-color: #2A8C82;
    border-radius: 12px;
    font-size: 20px;
    margin: 25px;
    text-align: center;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
    color:var(--cor5);
}

nav a:hover {
    text-size-adjust: 25px;
    color:#9BF2EA;

}

.linha{
    display: flex;
    flex-flow: row wrap;
    }

.coluna{
    width: 50%;
}

.coluna_esquerda{
    padding: 35px 7%;
    background-color: #9BF2EA;
    border-radius: 35px;
    box-shadow: 5px 5px 15px #193a34;
    height: 500px;
    width: 300px;
    
}

.foto_de_perfil {
    border-radius: 250px;
    box-shadow: 5px 5px 30px #193a34;   
}

.contatos{
    margin: auto;
}

.referencias_estudos { /*Referencias de estudos*/
    background-color: #9BF2EA;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #193a34 ; 
         /*
            0 primeiro parametro, quanto a sombra anda para baixo
            0 segundo parametro, quanto a sombra anda para o lado numero positivo para direita, numero negativo para esquerda
            0 terceiro parametro, intensidade da sombra, o quanto ela esmaece 
            0 quarto parametro e ultimo, geralmente dado em hexadecimal define  a cor da borda 
            */
    padding: 10px;
    margin: auto;

}

main {
    content: justify;
    color: var(--cor5);

}

#escola {
    text-decoration: none;

}

#agradecimentosEdinho > p {
    display: none;   
}

#agradecimentosEdinho:hover > p {
    display: block;

}
#agradecimentosFelipe > p {
    display: none;   
}

#agradecimentosFelipe:hover > p {
    display: block;

}

#agradecimentosSamuel > p {
    display: none;   
}

#agradecimentosSamuel:hover > p {
    display: block;

}

#agradecimentosJamara > p {
    display: none;   
}

#agradecimentosJamara:hover > p {
    display: block;

}

footer {
    background-color: #275950;
    color: #41BFB3;
    font-style: italic;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-decoration: none;
}

footer > p {
    margin: 0px;
}

#tira_daqui{
    color: #41BFB3; 
    text-decoration: none;
}

#tira_daqui:hover {
    color: var(--cor5);
    text-decoration: underline;    
} 

/*Color Theme Swatches in Hex  paleta de cores escolhida 
.The-Black-and-Red-1-hex { color: #2A8C82; }
.The-Black-and-Red-2-hex { color: #41BFB3; }
.The-Black-and-Red-3-hex { color: #9BF2EA; }
.The-Black-and-Red-4-hex { color: #275950; }
.The-Black-and-Red-5-hex { color: #260101; }
/*Color Theme Swatches in HSLA 
.The-Black-and-Red-1-hsla { color: hsla(174, 53, 35, 1); }
.The-Black-and-Red-2-hsla { color: hsla(174, 49, 50, 1); }
.The-Black-and-Red-3-hsla { color: hsla(174, 77, 77, 1); }
.The-Black-and-Red-4-hsla { color: hsla(168, 38, 25, 1); }
.The-Black-and-Red-5-hsla { color: hsla(0, 96, 7, 1); }*/
